$font-primary: 'Roboto', sans-serif;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$primary-1: #ff7a00;
$primary-2: #2a8cee;
$primary-3: #f2f5f8;
$primary-4: #ffffff;
$primary-5: #000000;
$primary-6: #444444;
$primary-7: #222222;
$primary-8: #e53832;
$primary-9: #757575;
$primary-10: #635b67;
$bg-ebox-primary-1: #ffffff;
$bg-ebox-primary-2: #f5f5f7;
$bg-ebox-primary-3: #24324b;
$primary-blue: #013ea7;
$second-blue: #3465b9;
$primary-orange: #ff7a00;
$primary-green: #50b848;
$primary-grey: #222222;
$primary-grey-80: #797284;
$primary-grey-65: #b8b6be;
$primary-grey-50: #d9dcdd;
$primary-grey-25: #f2f3f4;
$primary-grey-0: #ffffff;
$secondary-blue: #2a8cee;
$status-infomation: #2a8cee;
$status-successful: #50b848;
$status-warning: #50b848;
$status-dangerous: #e53832;
$border: #cdd9ed;
$border-hover: #99a3ba;
