.container {
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;

  @include responsive(sm) {
    max-width: 540px;
  }

  @include responsive(md) {
    max-width: 720px;
  }

  @include responsive(lg) {
    max-width: 960px;
  }

  @include responsive(xl) {
    max-width: 1140px;
  }

  @include responsive(xxl) {
    max-width: 1140px;
  }

  // @include responsive(xxl) {
  //   max-width: 1320px;
  // }
}
